body {
    margin: 0%;
    padding: 0%;
}

.encabezado ul {
    position: fixed;
    display: flex;
    background-color: rgb(5, 206, 233);
    list-style-type: none;
    margin: 0;
    top: 0%;
    padding: 4px;
    width: 100%;
    z-index: 1000;
}

.encabezado ul li {
    display: inline;
    gap: 3px;
}

.encabezado ul li a {
    display: block;
    padding: 8px;
    font-size: 12px;
    color: black;
    
}

#footer {
    bottom: 0;
    width: 100%;
}