.encabezado ul{
position: fixed;
display: flex;
background-color: rgb(227, 228, 214);
list-style-type: none;
margin: 0;
padding:4px;
width: 100%;
z-index: 1000;

}
.encabezado ul li{
    display: inline;
    font-size: 12px;
    gap: 3px;
    

}
    .encabezado ul li a{

        display: block;
        padding: 8px;
        background-color: #fcfcfc;
      
        

    }
    .container text-center text-md-left mt-5{
padding-top: 100px;

    }
    #footer{
        
       bottom:0;
       width: 100%;
       
        
    }
   
    

